progress[value] {
    /* Eliminamos la apariencia por defecto */    
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Quitamos el borde que aparece en Firefox */
     border: none; 
    
    /* Aplicamos las dimensiones */
    /* width: auto;
    height: auto; */
    
    /* Aplicamos color a la barra */
   color: blue;
    } 
 
.hash-link:before {
    content: '#';
    opacity: 0;
    position: absolute;
    right: 100%;
    transform: translatex(.25em);
    transition: .3s;
}