<div class="ae-grid__item item-lg-12 pointer"  (click)="ocultarMostrar($event);">
    <h2 id="portfolio-items" ><a  class="hash-link">Tecnologías</a></h2>
</div>
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio hidden" id="section-tecnologias">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" *ngIf="tecnlogiaServicio.cargado">
    <a *ngFor="let tecnologia of tecnlogiaServicio.tectnoList" href="#" class="rk-item ae-masonry__item">
      <img src="assets/img/{{tecnologia.img}}" alt="">
      <div class="item-meta">
        <h2>{{tecnologia.nombre}}</h2>
        <p>{{tecnologia.porcentaje}}%</p>
        <p>
          <progress max='100' [value]="tecnologia.porcentaje" class="text-center">{{tecnologia.porcentaje}}</progress>
        </p>
      </div>
    </a>
  </div>
</section>
<script>
  alert("Entro");
  var $btnPortafolio = document.getElementById('portfolio-items');
  $btnPortafolio.addEventListener('click',function(){
    alert("Entro");
    utilElements.toggle(document.getElementById('section-tecnologias'),'hidden');
  });
  function ocultarMostrar(){
    utilElements.toggle(document.getElementById('section-tecnologias'),'hidden');
  }
</script>